table, th, td {
    border: 1px solid black;
}

h1 {
    font-size: 20px; font-family: sans-serif;
}

h2 {
    font-size: 20px; font-family: sans-serif;
}

h3 {
    font-size: 20px; font-family: sans-serif;
}

h4 {
    font-size: 20px; font-family: sans-serif;
}

h5 {
    font-size: 20px; font-family: sans-serif;
}

h6 {
    font-size: 20px; font-family: sans-serif;
}